@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap&subset=cyrillic");
@import url(../libs/bootstrap-reboot.min.css);
@-webkit-keyframes grd {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 70% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes grd {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 70% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  position: relative;
  font-family: Roboto, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  color: #2B2B2B;
  background-color: #fff;
}

@media only screen and (max-width: 1200px) {
  body {
    font-size: 14px;
  }
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, a::-moz-selection, span::-moz-selection, div::-moz-selection, img::-moz-selection, mark::-moz-selection, ul::-moz-selection, li::-moz-selection {
  color: #fff;
  background-color: #2B2B2B;
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, span::selection, div::selection, img::selection, mark::selection, ul::selection, li::selection {
  color: #fff;
  background-color: #2B2B2B;
}

::-moz-selection {
  color: #fff;
  background-color: #2B2B2B;
}

::selection {
  color: #fff;
  background-color: #2B2B2B;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: none;
}

button {
  background: none;
  border: none;
  outline: none;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  padding: 0 !important;
}

button:active, button:focus, button:visited {
  background: none;
  border: none;
  outline: none;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.header {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#00417B), color-stop(50.26%, #237CB1), color-stop(52.72%, #2580B2), to(#46D2CC));
  background: -o-linear-gradient(left, #00417B 0%, #237CB1 50.26%, #2580B2 52.72%, #46D2CC 100%);
  background: linear-gradient(90deg, #00417B 0%, #237CB1 50.26%, #2580B2 52.72%, #46D2CC 100%);
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.159392);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.159392);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-size: 130% 100%;
  z-index: 3;
  -webkit-animation: grd 7s ease infinite;
          animation: grd 7s ease infinite;
}

.header__left, .header__right {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left {
  padding-right: 25px;
}

.header__left-bg {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 18px 20px 18px;
}

@media only screen and (max-width: 700px) {
  .header__left-bg {
    padding: 8px 15px;
  }
}

.header__left-bg::after {
  position: absolute;
  content: '';
  top: 0;
  right: -12px;
  bottom: 0;
  width: 12px;
  height: 100%;
  border-left: solid 12px #fff;
  border-bottom: solid 30px transparent;
  border-top: solid 30px transparent;
}

@media only screen and (max-width: 700px) {
  .header__left-bg::after {
    border-left: solid 8px #fff;
    border-bottom: solid 20px transparent;
    border-top: solid 20px transparent;
  }
}

.header__logo {
  margin-right: 27px;
}

@media only screen and (max-width: 1200px) {
  .header__logo {
    margin-right: 15px;
  }
}

.header__logo-icon {
  fill: #00417B;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.header__logo:hover .header__logo-icon {
  fill: #2580B2;
}

.header__search {
  color: #2B2B2B;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search-icon {
  fill: #2B2B2B;
  margin-right: 10px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

@media only screen and (max-width: 866px) {
  .header__search-icon {
    margin-right: 5px;
  }
}

.header__search-title {
  text-transform: uppercase;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

@media only screen and (max-width: 420px) {
  .header__search-title {
    display: none;
  }
}

.header__search:hover .header__search-icon {
  fill: #2580B2;
}

.header__search:hover .header__search-title {
  color: #2580B2;
}

.header__navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 68px;
}

@media only screen and (max-width: 1200px) {
  .header__navigation {
    padding-left: 25px;
  }
}

@media only screen and (max-width: 866px) {
  .header__navigation {
    display: none;
  }
}

.header__navigation-link {
  line-height: 60px;
  position: relative;
  text-transform: uppercase;
  color: #d0dfea;
  display: block;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.header__navigation-link::before {
  position: absolute;
  content: '';
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  opacity: 0;
  background-color: #fff;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.header__navigation-link:hover {
  color: #fff;
}

.header__navigation-link:hover::before {
  opacity: 1;
}

.header__navigation-link--active {
  color: #fff;
}

.header__navigation-link--active::before {
  width: 100%;
  opacity: 1;
  background-color: #8DC540;
}

.header__navigation-link-wrap:not(:last-child) {
  margin-right: 35px;
}

@media only screen and (max-width: 1200px) {
  .header__navigation-link-wrap:not(:last-child) {
    margin-right: 15px;
  }
}

.header__navigation-link-wrap.has-dropdown .header__navigation-link {
  padding-right: 15px;
}

.header__navigation-link-wrap.has-dropdown .header__navigation-link::after {
  position: absolute;
  content: '';
  right: 0;
  width: 9px;
  height: 4px;
  top: 50%;
  background-image: url("../img/icon__arrow--bot.svg");
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-top: -2px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  opacity: .8;
}

.header__navigation-link-wrap.has-dropdown .header__navigation-link:hover::after {
  opacity: 1;
}

.header__add {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 50%;
  top: 50%;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

@media only screen and (max-width: 1200px) {
  .header__add {
    width: 30px;
    height: 30px;
  }
}

.header__add span {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.header__add span::before, .header__add span::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  background-color: #237cb1;
  border-radius: 24.3237px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__add span::before {
  width: 2px;
  height: 20px;
}

@media only screen and (max-width: 1200px) {
  .header__add span::before {
    height: 12px;
  }
}

.header__add span::after {
  width: 20px;
  height: 2px;
}

@media only screen and (max-width: 1200px) {
  .header__add span::after {
    width: 12px;
  }
}

.header__add span:hover {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.header__right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px 20px 10px 25px;
}

.header__notification {
  position: relative;
  margin-right: 50px;
}

@media only screen and (max-width: 1200px) {
  .header__notification {
    margin-right: 25px;
  }
}

.header__notification-icon {
  fill: #fff;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.header__notification-value {
  position: absolute;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
  color: #fff;
  text-align: center;
  top: -3px;
  right: -8px;
  width: 15px;
  height: 15px;
  background-color: #E54D4D;
  border: 2px solid #37AEC1;
  border-radius: 50%;
  display: block;
}

.header__notification:hover .header__notification-icon {
  opacity: .8;
}

.header__cabinet-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.header__cabinet-button-icon {
  fill: #fff;
  margin-right: 10px;
}

@media only screen and (max-width: 700px) {
  .header__cabinet-button-icon {
    margin-right: 5.5px;
  }
}

.header__cabinet-button-title {
  text-transform: uppercase;
  color: #fff;
  margin-right: 5.5px;
}

@media only screen and (max-width: 700px) {
  .header__cabinet-button-title {
    display: none;
  }
}

.header__cabinet-button-arrow {
  fill: #fff;
}

.header__cabinet-button:hover {
  opacity: .8;
}

.header__hamburger {
  display: none;
}

@media only screen and (max-width: 866px) {
  .header__hamburger {
    position: relative;
    display: block;
  }
  .header__hamburger label {
    position: relative;
    width: 20px;
    height: 17px;
    margin: 0 0 0 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__hamburger label::before, .header__hamburger label::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    left: 0;
    right: 0;
    background-color: #fff;
    border-radius: 5px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
  }
  .header__hamburger label::before {
    top: 0;
  }
  .header__hamburger label::after {
    bottom: 0;
  }
  .header__hamburger label span {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
  }
  .header__hamburger-checkbox {
    position: absolute;
    visibility: hidden;
    width: 20px;
    height: 17px;
    right: 0;
    top: 0;
    z-index: 1;
  }
  .header__hamburger-checkbox:checked + label span {
    opacity: 0;
  }
  .header__hamburger-checkbox:checked + label::before {
    top: 7px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header__hamburger-checkbox:checked + label::after {
    bottom: 8px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header__hamburger-checkbox:checked ~ .mobile__menu {
    left: 0;
  }
}

.mobile__menu {
  position: fixed;
  width: 100%;
  height: -webkit-calc(100vh - 60px);
  height: calc(100vh - 60px);
  left: 100%;
  top: 61px;
  padding: 25px 15px;
  background-color: #00417bed;
  z-index: 1;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

@media only screen and (max-width: 700px) {
  .mobile__menu {
    height: -webkit-calc(100vh - 40px);
    height: calc(100vh - 40px);
    top: 41px;
  }
}

.mobile__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile__nav-link {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.mobile__nav-link--active {
  border-bottom: 2px solid #8DC540;
}

.mobile__nav-link:hover {
  color: #fff;
}

.mobile__nav-link-wrap:not(:last-child) {
  margin-bottom: 10px;
}

.mobile__nav-link-wrap.has-dropdown .mobile__nav-link {
  position: relative;
  padding-right: 15px;
}

.mobile__nav-link-wrap.has-dropdown .mobile__nav-link::after {
  position: absolute;
  content: '';
  right: 0;
  width: 9px;
  height: 4px;
  top: 50%;
  background-image: url("../img/icon__arrow--bot.svg");
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.layout {
  height: -webkit-calc(100vh - 60px);
  height: calc(100vh - 60px);
  background-color: #edeff1;
  overflow: hidden;
}

@media only screen and (max-width: 700px) {
  .layout {
    height: auto;
    min-height: -webkit-calc(100vh - 40px);
    min-height: calc(100vh - 40px);
    overflow: visible;
  }
}

.blank {
  position: relative;
  width: -webkit-calc(100% - 280px);
  width: calc(100% - 280px);
  height: 100%;
  margin-left: 280px;
  background: #fff;
  -webkit-box-shadow: -8px 9px 25px rgba(49, 68, 93, 0.23112);
          box-shadow: -8px 9px 25px rgba(49, 68, 93, 0.23112);
  padding-bottom: 60px;
}

@media only screen and (max-width: 1200px) {
  .blank {
    width: -webkit-calc(100% - 25px);
    width: calc(100% - 25px);
    margin-left: 25px;
  }
}

@media only screen and (max-width: 700px) {
  .blank {
    width: -webkit-calc(100% - 10px);
    width: calc(100% - 10px);
    padding-bottom: 0;
    margin-left: 10px;
  }
}

.blank__top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  min-height: 60px;
  background: #f8f8f8;
  padding: 10px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

@media only screen and (max-width: 700px) {
  .blank__top {
    position: relative;
    min-height: 25px;
    padding: 5px 10px;
  }
}

.blank__top-icon {
  fill: #2B2B2B;
  margin-right: 12px;
  -webkit-transition: .3s transform ease-in;
  -o-transition: .3s transform ease-in;
  transition: .3s transform ease-in;
}

@media only screen and (max-width: 700px) {
  .blank__top-icon {
    margin-right: 3px;
  }
}

.blank__top-icon:hover {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.blank__top-title {
  font-size: 24px;
  font-weight: 300;
  color: #2B2B2B;
}

@media only screen and (max-width: 700px) {
  .blank__top-title {
    font-size: 16px;
  }
}

@media only screen and (max-width: 450px) {
  .blank__top-title {
    font-size: 13px;
  }
}

.blank__container {
  width: 100%;
  max-width: 575.25px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
}

.blank__content {
  height: -webkit-calc(100vh - -webkit-calc(60px * 3) - 9px);
  height: calc(100vh - calc(60px * 3) - 9px);
  margin: 3px 5px 6px 0;
  padding: 20px 0 20px;
  overflow-y: scroll;
}

@media only screen and (max-width: 700px) {
  .blank__content {
    height: auto;
    padding: 10px 0;
    overflow: visible;
  }
}

.blank__content::-webkit-scrollbar {
  width: 8px;
}

.blank__content::-webkit-scrollbar-track {
  background-color: #f2f2f2;
  border-radius: 100px;
}

.blank__content::-webkit-scrollbar-thumb {
  background-color: #dcdcdc;
  border-radius: 100px;
}

.blank__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blank__info-top {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.blank__info-price {
  font-size: 46px;
  font-weight: 300;
  color: #CF4545;
}

@media only screen and (max-width: 700px) {
  .blank__info-price {
    font-weight: 500;
    font-size: 20px;
  }
}

.blank__info-price-descr {
  font-size: 12px;
  color: #2c2f32;
  margin-bottom: 10px;
}

.blank__info-price-descr span {
  color: #9299a3;
}

.blank__info-date {
  font-size: 11px;
  font-weight: 500;
  line-height: 1.15;
  color: #fff;
  min-height: 19px;
  background-color: #81C624;
  border-radius: 125px;
  padding: 3px 11px;
}

.blank__card {
  position: relative;
  margin-bottom: 20px;
}

@media only screen and (max-width: 700px) {
  .blank__card {
    margin-bottom: 10px;
  }
}

.blank__card-corner {
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 30px 28px 0;
  border-style: solid;
  border-color: #fff #fff #fff #fff;
  background: #fff;
  display: block;
  width: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), -1px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), -1px 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.blank__card-corner::before {
  position: absolute;
  content: '';
  right: -44px;
  top: -8px;
  width: 42px;
  height: 25px;
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7;
  z-index: 3;
  -webkit-transform: rotate(42deg);
      -ms-transform: rotate(42deg);
          transform: rotate(42deg);
}

.blank__card-top {
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.390682), 0 3px 10px rgba(0, 0, 0, 0.0869282);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.390682), 0 3px 10px rgba(0, 0, 0, 0.0869282);
  padding: 25px 30px;
  border-radius: 3px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}

@media only screen and (max-width: 700px) {
  .blank__card-top {
    padding: 20px 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.blank__card-details {
  -webkit-box-flex: 310px;
  -webkit-flex: 310px;
      -ms-flex: 310px;
          flex: 310px;
}

@media only screen and (max-width: 700px) {
  .blank__card-details {
    -webkit-box-flex: 1;
    -webkit-flex: auto;
        -ms-flex: auto;
            flex: auto;
    margin-bottom: 25px;
  }
}

.blank__card-title {
  font-size: 20px;
  color: #2C2F32;
  margin-bottom: 15px;
}

@media only screen and (max-width: 700px) {
  .blank__card-title {
    font-size: 16px;
    margin-bottom: 8px;
  }
}

.blank__card-list {
  font-weight: 300;
  color: #2C2F32;
}

.blank__card-list-item:not(:last-child) {
  margin-bottom: 8px;
}

@media only screen and (max-width: 700px) {
  .blank__card-list-item:not(:last-child) {
    margin-bottom: 5px;
  }
}

.blank__card-description {
  color: #2B2B2B;
  background-color: #F2F2F2;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.239102), 0 4px 15px rgba(0, 0, 0, 0.0869282), 0 2px 3px rgba(0, 0, 0, 0.0651891);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.239102), 0 4px 15px rgba(0, 0, 0, 0.0869282), 0 2px 3px rgba(0, 0, 0, 0.0651891);
  padding: 23px 30px 20px;
  margin-top: -3px;
}

@media only screen and (max-width: 700px) {
  .blank__card-description {
    font-size: 12px;
    padding: 10px;
  }
}

.blank__testimonials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 145px;
  -webkit-flex: 145px;
      -ms-flex: 145px;
          flex: 145px;
}

@media only screen and (max-width: 700px) {
  .blank__testimonials {
    -webkit-box-flex: 1;
    -webkit-flex: auto;
        -ms-flex: auto;
            flex: auto;
  }
}

.blank__testimonials-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.blank__testimonials-item:not(:last-child) {
  margin-bottom: 10px;
}

.blank__testimonials-item-title {
  line-height: 1;
  text-align: center;
  margin-top: -6px;
  margin-right: 15px;
}

.blank__testimonials-item-title span {
  font-size: 10px;
  color: #2773b9;
  max-width: 103px;
  border-bottom: 1px dotted #2773b9;
}

.blank__testimonials-item-circle {
  position: relative;
  width: 42px;
  min-width: 42px;
  height: 42px;
  border: 2px solid #e6e6e6;
  border-radius: 50%;
}

.blank__testimonials-item-circle--green {
  background-color: #a5d475;
  border-color: #a5d475;
}

.blank__testimonials-item-circle--green .blank__testimonials-item-value {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blank__testimonials-item-circle--green span:first-child {
  font-size: 18px;
  margin-bottom: 2px;
}

.blank__testimonials-item-circle--green span:last-child {
  font-size: 10px;
  font-weight: 300;
}

.blank__testimonials-item-figure {
  position: absolute;
}

.blank__testimonials-item-value {
  position: absolute;
  font-weight: 500;
  line-height: 1;
  color: #000;
  text-align: center;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.blank__additional-text {
  font-size: 12px;
  line-height: 1.4;
  color: #808080;
  margin-bottom: 0;
}

@media only screen and (max-width: 700px) {
  .blank__additional-text {
    font-size: 11px;
    line-height: 1.2;
  }
}

.blank__toolbar {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 60px;
  background: #fff;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.239102), 0 0 15px rgba(0, 0, 0, 0.0869282);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.239102), 0 0 15px rgba(0, 0, 0, 0.0869282);
  padding: 10px 13px 10px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

@media only screen and (max-width: 700px) {
  .blank__toolbar {
    position: relative;
    min-height: 25px;
    padding: 10px 13px 10px 0;
  }
}

.blank__toolbar-in {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 500px) {
  .blank__toolbar-in {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.blank__toolbar-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 500px) {
  .blank__toolbar-button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.blank__toolbar-button-icon {
  fill: #2B2B2B;
  margin-right: 10px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

@media only screen and (max-width: 700px) {
  .blank__toolbar-button-icon {
    margin-right: 5px;
  }
}

@media only screen and (max-width: 500px) {
  .blank__toolbar-button-icon {
    margin: auto;
  }
}

.blank__toolbar-button-title {
  line-height: 20px;
  color: #2C2F32;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

@media only screen and (max-width: 500px) {
  .blank__toolbar-button-title {
    font-size: 12px;
    margin-top: 2px;
  }
}

@media only screen and (max-width: 335px) {
  .blank__toolbar-button-title {
    font-size: 11px;
    margin-top: 0;
  }
}

.blank__toolbar-button:not(:last-child) {
  margin-right: 10px;
}

.blank__toolbar-button:hover .blank__toolbar-button-icon {
  fill: #2580B2;
}

.blank__toolbar-button:hover .blank__toolbar-button-title {
  color: #2580B2;
}
